<!DOCTYPE html>
<html>
  <head>
    <title>NoteTaker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav id="nav" class="startnav">
        <div class="home">
          <span id="homeLink">
            <%= link_to "Home", root_path, class: "navlink" %>
          </span>
          <span id="aboutLink">
            <%= link_to "About/Contact Us", root_path, class: "navlink" %>
          </span>
          <% if user_signed_in? %>
          Welcome <%= current_user.email %>!
          <span id="editLink">
            <%= link_to "Edit Profile", edit_user_registration_path, :class => "navlink" %>
          </span>
          <span id="signOutlink">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "navlink" %>
          </span>
          <% else %>
          <span id="joinLink">
            <%= link_to "Join", new_user_registration_path, :class => "navlink" %>
          </span>
          <span id="loginLink">
            <%= link_to "Log In", new_user_session_path, :class => "navlink" %>
          </span>
          <% end %>

        </div>
      </nav>
    </header>
    <%= yield %>

    <footer>
      <div class="footy">
        <ul>
          <li class="social"><a class="faceb" href="http://www.facebook.com" target="_blank"><img id="media" src="facebook.png" alt="medi"></a></li>
          <li class="social"><a class="insta" href="http://www.instagram.com" target="_blank"><img id="media" src="instagram.png" alt="medi"></a></li>
          <li class="social"><a class="twit" href="http://www.twitter.com" target="_blank"><img id="media" src="twitter.png" alt="medi"></a></li>
          <li class="social"><a class="googl" href="http://www.googleplus.com" target="_blank"><img id="media" src="googleplus.png" alt="medi"></a></li>
          <li class="social"><a class="stumbl" href="http://www.stumbleupon.com" target="_blank"><img id="media" src="stumbleupon.png" alt="medi"></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
