<!DOCTYPE html>
<html>
  <head>
    <title>NoteTaker</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <nav id="nav" class="startnav">
        <div class="home">
          <span id="homeLink">
            <%= link_to "Home", root_path, class: "navlink" %>
          </span>
          <span id="aboutLink">
            <%= link_to "About/Contact Us", root_path, class: "navlink" %>
          </span>
          <% if user_signed_in? %>
          Welcome <%= current_user.email %>!
          <span id="editLink">
            <%= link_to "Edit Profile", edit_user_registration_path, :class => "navlink" %>
          </span>
          <span id="signOutlink">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "navlink" %>
          </span>
          <% else %>
          <span id="joinLink">
            <%= link_to "Join", new_user_registration_path, :class => "navlink" %>
          </span>
          <span id="loginLink">
            <%= link_to "Log In", new_user_session_path, :class => "navlink" %>
          </span>
          <% end %>

        </div>
      </nav>
    </header>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="etherpad.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <footer>
      <div class="footy">
        <ul>
          <li class="social"><a class="faceb" href="http://www.facebook.com" target="_blank"><img id="media" src="facebook.png" alt="medi"></a></li>
          <li class="social"><a class="insta" href="http://www.instagram.com" target="_blank"><img id="media" src="instagram.png" alt="medi"></a></li>
          <li class="social"><a class="twit" href="http://www.twitter.com" target="_blank"><img id="media" src="twitter.png" alt="medi"></a></li>
          <li class="social"><a class="googl" href="http://www.googleplus.com" target="_blank"><img id="media" src="googleplus.png" alt="medi"></a></li>
          <li class="social"><a class="stumbl" href="http://www.stumbleupon.com" target="_blank"><img id="media" src="stumbleupon.png" alt="medi"></a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
