<div id='noteForm'>
  <%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :content %>
    <%= md_simple_editor  do %>
        <%= f.text_field :title, :placeholder => 'Title'%><br><br>
        <%= f.text_area :content, :rows => 20 %>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
</div>

<div id="todolistForm">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>To Do List</h1>
          <input type="text" class="form-control add-todo" placeholder="Add Task">
          <button id="checkAll" class="btn btn-success">Mark all as done</button>
          <br>
          <hr>

          <ul id="sortable" class="list-unstyled">
            <li>

            </li>

          </ul>
          <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> Items Left
          </div>
        </div>
      </div>
      <div class="vertical"></div>
      <div class="col-md-6">
        <div class="todolist">
          <h1>Done</h1>
          <ul id="done-items" class="list-unstyled">
            <li>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <br>

</div>
<script>
//<![CDATA[
var toggleList = document.getElementById('listToggle');
var untoggle = document.getElementById('untoggle');
var todolistForm = document.getElementById('todolistForm');
var noteForm = document.getElementById('noteForm');
toggleList.addEventListener('click', function() {
  todolistForm.style.display = 'block';
  toggleList.style.display = 'none';
  untoggle.style.display = 'inline';
  noteForm.style.display = 'none';
});//]]>

untoggle.addEventListener('click', function() {
  todolistForm.style.display = 'none';
  toggleList.style.display = 'inline';
  untoggle.style.display = 'none';
  noteForm.style.display = 'block';
})
</script>
