<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<% if user_signed_in? %>

<% @notes.each do |note| %>
<div class="noteItems">
  <%= link_to (image_tag "notepad-icon.png"), note %><br>
  <%= link_to note.title, note%><br>
  <%= distance_of_time_in_words(Time.now, note.updated_at)%><br>
  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>


<br>

<%= link_to 'New Note', new_note_path %>
<br><br><br>

<%= form_tag("/notes/search", method: "post") do %>
<%= label_tag(:query, "Search:") %>
<%= text_field_tag(:query) %>
<%= submit_tag("Submit") %>

<% end %>

<h2>Search result:</h2>

<% @search.each do |note| %>
<div class="noteItems">
  <%= link_to (image_tag "notepad-icon.png"), note %><br>
  <%= link_to note.title, note%><br>
  <%= distance_of_time_in_words(Time.now, note.updated_at)%><br>
  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

<% end %>
